@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #000;
    position: relative;
}

/*Header*/
header {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.logo-futemax {
    background-image: url(/img/bg-logo.webp),
        url(/img/bg-header-repeat.webp),
        url(/img/bg-header.png);
    background-position: center;
    background-repeat: no-repeat, repeat, no-repeat;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1c1c1c;
    width: 100%;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-menu li {
    list-style: none;
    font-size: 1rem;
    font-weight: bold;

}

.nav-menu li:hover a {
    background-color: #3eff2c;
    color: #000;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.search {
    background-color: #333;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #beff00;
    border-bottom: 2px solid #beff00;
}

.search form {
    position: relative;
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    width: min(90%, 1800px);

}

.search input {
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    font-size: 1.2rem;
}

.search button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    background-color: #d2ff00;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

/*Main*/

.home-content {
    color: #eee;
}

.home-content h1 {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #d2ff00;
    color: #000;
    margin-bottom: 30px;
}

#aviso {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

#aviso img {
    width: 100px;
    height: auto;
}

#soccer-live {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#soccer-live a {
    text-decoration: none;
    color: #eee;
}

#soccer-live article {
    height: 250px;
    width: 350px;
    border: 1px solid #d2ff00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.match-teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.hour-match {
    border: 1px solid #beff00;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.team img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.versus i {
    font-size: 1.5rem;
}

.champeonship {
    border: 1px solid #beff00;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#soccer-live article i.fa-circle-play {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.5rem;
    color: #3eff2c;
    opacity: 0;
    transition: all 0.3s;
}

#soccer-live article:hover i.fa-circle-play {
    opacity: 1;
}

/*informações de texto*/
.text-information {
    margin: 40px;
    text-align: center;
}

.text-information h2 {
    color: #ddd;
}

.text-information p {
    margin-top: 20px;
    color: #888;
}

/*footer*/
footer {
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid #d2ff00;
}

#copy {
    margin: 20px 0;
}

/*Modal players*/
.players-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.685);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen-modal {
    width: min(1000px, 95%);
}

#screen-modal iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: 2px solid #beff00;
    border-bottom: none;
}

#btns-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: min(1000px, 95%);
    border: 2px solid #beff00;
    background-color: #000;
    padding:10px 0;
}

#btns-modal button {
    height: 40px;
    width: 100px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #ddd;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

#btns-modal button:hover{
    background-color: #beff00;
    color: #000;
}

#close-modal {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: min(1000px, 95%);
}

#close-modal i{
    color: red;
    font-size: 2rem;
    margin: 10px 0;
    background-color: #ddd;
    border-radius: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.active {
    display: flex;
}